---

- name: Family RedHat
  when: ansible_os_family == 'RedHat'
  block:

    - name: Import rspamd key
      ansible.builtin.rpm_key:
        state: present
        key: "{{ rspamd_gpgkey_url }}"

    - name: Download yum repo definition
      ansible.builtin.get_url:
        url: "{{ rspamd_repo_url }}"
        dest: /etc/yum.repos.d/rspamd.repo
        mode: '0644'
        use_proxy: "{{ use_proxy | default(False) }}"

- name: Family Debian
  when: ansible_os_family == 'Debian'
  block:

    - name: Download APT signing key
      ansible.builtin.get_url:
        url: "{{ rspamd_gpgkey_url }}"
        dest: /tmp/rspamd.asc
        mode: "0644"
      changed_when: false

    - name: Convert APT key into binary format
      ansible.builtin.command:
        cmd: >-
          gpg
          --batch
          --yes
          --no-tty
          --dearmor
          -o /tmp/rspamd.gpg
          /tmp/rspamd.asc
      changed_when: false

    - name: Import Microsoft GPG key
      ansible.builtin.apt_key:
        state: present
        file: /tmp/rspamd.gpg
        keyring: /etc/apt/trusted.gpg.d/rspamd.gpg
      become: yes
      when: ansible_distribution_major_version | int < 12

    - name: Copy APT signing key into the proper drop-in directory
      ansible.builtin.copy:
        src: /tmp/rspamd.gpg
        dest: /etc/apt/trusted.gpg.d/rspamd.gpg
        remote_src: yes
        mode: "0644"
      when: ansible_distribution_major_version | int >= 12

    - name: Setup Microsoft APT repository  # noqa jinja[spacing]
      ansible.builtin.apt_repository:
        filename: rspamd
        update_cache: yes
        repo: >-
          {%- if ansible_distribution_major_version | int < 12 -%}
          deb
          [arch=amd64,arm64]
          https://rspamd.com/apt-stable
          {{ ansible_distribution_release }}
          main
          {%- else -%}
          deb
          [arch=amd64,arm64 signed-by=/etc/apt/trusted.gpg.d/rspamd.gpg]
          https://rspamd.com/apt-stable
          {{ ansible_distribution_release }}
          main
          {%- endif -%}
        state: present
      become: yes

- name: Family Suse
  when: ansible_os_family == 'Suse'
  block:

    - name: Import rspamd key
      ansible.builtin.rpm_key:
        state: present
        key: "{{ rspamd_gpgkey_url }}"

    - name: Suse repository
      community.general.zypper_repository:
        repo: "{{ rspamd_repo_url }}"

- name: Install rspamd
  ansible.builtin.package:
    name: "{{ rspamd_packages }}"

- name: Create user
  ansible.builtin.user:
    name: rspamd

- name: Start the rspamd servce
  ansible.builtin.systemd:
    name: "{{ rspamd_service }}"
    enabled: true
